@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto GS</h1>
    <p>Leonardo Buonanno RM98315</p>
    <p>Lucas de lavor Andrade RM552426</p>
    <p>Henrique Ferreira Cardoso RM552325</p>
    <p>Victor Fusco Martins RM552399</p>
    <p>Matheus da Silva Ferreira RM552431</p>

</div>
